@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryManger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryManger.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
   <!------bootstrap4--->
  
  
</head>
<body>
    <div class="container-fluid" style="background:linear-gradient(to right,#28340B,#197696);">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm   border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">InventoryManger</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @*<div class="dropdown show">
                                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Master</a>
     
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background:linear-gradient(to right,#28340B,#197696);">
                                        <a class="nav-link text-white  " asp-area="" asp-controller="Unit" asp-action="Index">Unit</a>
                                        <a class="nav-link text-white  " asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                                         <a class="nav-link text-white  " asp-area="" asp-controller="Brand" asp-action="Index">Brands</a>
                                        <a class="nav-link text-white  " asp-area="" asp-controller="ProductProfile" asp-action="Index">ProductProfile</a>
                                        <a class="nav-link text-white  " asp-area="" asp-controller="ProductGroup" asp-action="Index">ProductGroup</a>
                                       
                                    </div>
                                </div>*@
                             @*   <li class="dropdown nav-item pr-2">
                                    <a class="nav-link dropdown-toggle text-white"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Master</a>
                                </li>
                                <ul class="dropdown-menu" style="background:linear-gradient(to right,#28340B,#197696);">*@
                                 <li class="nav-item">
                                    <a class="nav-link text-white  " asp-area="" asp-controller="Unit" asp-action="Index">Unit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white  " asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white  " asp-area="" asp-controller="Brand" asp-action="Index">Brands</a>
                                </li>
                              <li class="nav-item">
                                    <a class="nav-link text-white  " asp-area="" asp-controller="ProductProfile" asp-action="Index">ProductProfile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white  " asp-area="" asp-controller="ProductGroup" asp-action="Index">ProductGroup</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white  " asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white  " asp-area="" asp-controller="Supplier" asp-action="Index">Supplier</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white  " asp-area="" asp-controller="Currency" asp-action="Index">Currency</a>
                                </li>
                            }

                        </ul>

                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
    </div>
   
    <div class="container">
        <main role="main" class="pb-3">

            <!--success Dialog start-->
            <div id="myModalSuccess" class="modal fade text-black-width:30%" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Information</h2>
                            <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                        </div>
                        <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                            this is a modal body. our message will apear here.
                        </div>
                        <div class="modal-footer">
                            &nbsp;
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--success Dialog end-->
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted" style="background:linear-gradient(to left,#28340B,#197696);">
        <div class="container text-white">
            &copy; 2023 - Inventory Manger - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">Privacy</a>
        </div>
    </footer>*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
