@{
    ViewData["Title"] = "Home Page";
}
<style>
    .IndexDiv{
        position:fixed;
        background:linear-gradient(to right, #C4E0E0,#C4E0F9);
        top:8%;
        left:0;
        min-height:85%;
        min-width: 100%;

    }
</style>
<div class="IndexDiv">
    
    <p><h1 class="text-center font-weight-bold">Inventory Manager</h1></p>
    <div class="row m-2">
        <div class="col-8">
            <p > <h5>Easiest and Effective way to Maintain your Products Inventory</h5></p>
        </div>
        <div class="col-4">
            <img src="~/Images/shoppingcaart.png" class="img-fluid" />
        </div>

    </div>
</div>
