html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.CenteredContainer {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: linear-gradient(to left, #28347d,#19767D);
    border-radius: 20px;
}
 